ReadManga.me
http://readmanga.me/search/suggestion?query=#word#

{\"value\":\"(?<name>[^\"]+)\",\"link\":\"(?<link>[^\"]+)\",
http://readmanga.me#link#
<td[^>]+>[^<]+<a href=\"(?<link>[^\"]+)\"[^>]+>(?<name>[^<]+)</a>
http://readmanga.me#link#?mtr=1
'','([^']+)',\"([^\"]+)\",
 ## 
MintManga.com
http://mintmanga.com/search/suggestion?query=#word#
  
{\"value\":\"(?<name>[^\"]+)\",\"link\":\"(?<link>[^\"]+)\",
http://mintmanga.com#link#
<td[^>]+>[^<]+<a href=\"(?<link>[^\"]+)\" title=\"\">(?<name>[^<]+)</a>
http://mintmanga.com#link#?mtr=1
'','([^']+)',\"([^\"]+)\",
 ## 
MangaKakalot.com
http://mangakakalot.com/home_json_search
searchword=#word#&search_style=tentruyen
\"name\":\"(?<name>[^,]+)\",\"nameunsigned\":\"(?<link>[^\"]+)\",
http://mangakakalot.com/manga/#link#
<span><a href=\"(?<link>[^\"]+)\" title=\"[^\"]+\">(?<name>[^<]+)</a></span>
#link#
<img src=\"([^\"]+)\" alt=\"[^\"]+\" title=\"[^\"]+\" class='img_content' />
 ## 
MangaLib.me
https://mangalib.me/search?query=#word#

\"rus_name\":\"(?<name>[^\"]+)\",\"eng_name\":\"[^\"]*\",\"slug\":\"(?<link>[^\"]+)\"
https://mangalib.me/#link#
<a class=\"link-default\" title=\"\" href=\"(?<link>[^\"]+)\"[^>]*>(?<name>[^<]+)</a>
#link#
\"page_image\":\"([^\"]+)"
https://img2.mangalib.me/